header {
  text-align: center;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 6px 16px;
}

.wrapper {
  padding: 2%;
  padding-bottom: 0;
}

a {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
  padding-right: 30px;
}

body {
  margin: 0;
}

.active {
  color: orangered;
}